.wrapper{
  width: 100vw;
  height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 0;

  text-align: center;

  .panels {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    overflow: hidden;

    .chart {
      flex-grow: 1;
    }
  }
}
