.panels {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;

    .chart {
        flex-grow: 1;
    }
}
.header {
    height: 70px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}