.topbar {
    height: 50px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
